Gemfile.lock
Cargo.lock
/.bundle/
/.yardoc/
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Compiled native extension
lib/poker_odds/poker_odds.bundle
lib/poker_odds/poker_odds.so
